<div class="row d-flex header-area">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo.png" class="logo" alt="logo">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <a class="nav-link" href="fees.html">Pricing</a>
                <li class="nav-item dropdown main-navbar">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">Product</a>
                    <ul class="dropdown-menu main-menu shadow">
                        <li><a class="nav-link" href="merchant.html">Corporate Card</a></li>
                        <li><a class="nav-link" href="merchant.html">Airline Miles (Coming Soon)</a></li>
                        <li><a class="nav-link" href="rewards.html">Perks</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown main-navbar">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">Company</a>
                    <ul class="dropdown-menu main-menu shadow">
                        <li><a class="nav-link" href="about-us.html">About Us</a></li>
                        <li><a class="nav-link" href="blog.html">Blog</a></li>
                        <li><a class="nav-link" href="help-center.html">Support</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown main-navbar">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">Partners</a>
                    <ul class="dropdown-menu main-menu shadow">
                        <li><a class="nav-link" href="partners.html">White-Label Credit Card Program</a></li>
                        <li><a class="nav-link" href="https://app.theneo.io/karat/paygeon-core/api-reference">API Documentation</a></li>
                        <li><a class="nav-link" href="rewards.html">Perks</a></li>
                    </ul>
                </li>
            <div class="right-area header-action d-flex align-items-center max-un">
                <a href="login.html" class="login">Login</a>
                <a href="credit-application.html" class="cmn-btn">Sign Up</a>
                    <i class="icon-d-right-arrow-2"></i>
                </a>
            </div>
        </div>
    </nav>
</div>