    <!-- Testimonials start -->
    <section class="testimonials">
        <div class="overlay pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-header text-center">
                            <h5 class="sub-title">Testimonials</h5>
                            <h2 class="title">What Our Customers Say</h2>
                            <p>245m+ happy clients all around the world. Don’t just take our word for it</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid wow fadeInUp">
                <div class="testimonials-carousel">
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Great Fast Reliable Service</h5>
                            <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="assets/images/testimonials-img-1.png" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Aspen Press</h5>
                                    <p>Web Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Great Fast Reliable Service</h5>
                            <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="assets/images/testimonials-img-2.png" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Courtney Henry</h5>
                                    <p>Balance Studio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Great Fast Reliable Service</h5>
                            <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="assets/images/testimonials-img-3.png" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Paul Howell</h5>
                                    <p>President of Sales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Great Fast Reliable Service</h5>
                            <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="assets/images/testimonials-img-2.png" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Courtney Henry</h5>
                                    <p>Balance Studio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- App Download end -->